<div class="cta-section mt-5 py-5 px-3" id="contact">
  <div class="container text-center">
    <p class="cta-kicker mb-1">Have a complex product?</p>
    <h2>Let’s work together</h2>
    <a href="mailto:rossg.design@gmail.com" class="button button-primary"> Get in touch </a>
  </div>
</div>

<footer class="footer">
  <div class="footer-top navbar">
    <div class="footer-name d-flex">
      <img src="/icon.svg" class="me-1" alt="icon" height="23" width="23" />
      <p>Rossella Guarino</p>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/#work">Work</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
    <div class="footer-socials">
      <a href="https://www.linkedin.com/in/rossella-guarino-design/" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/roxanneklizia/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://boxd.it/2hosh" target="_blank"><i class="fa-brands fa-letterboxd"></i></a>
      <a href="#"></a>
    </div>
  </div>
  <div class="footer-bottom navbar">
    <p>© 2026 — Coded by Rossella Guarino</p>
    <p>Based in Valencia, Spain</p>
  </div>
</footer>
