.cta-section {
  border-top: 1px solid var(--white);
  padding: 5rem 0;

  .cta-kicker {
    color: var(--white);
    color: var(--brat);
    font-family: var(--font-label);
    font-size: 1.1rem;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: -0.07em;
  }
  p {
    font-size: 1.3rem;
    line-height: 1.4;
    max-width: 750px;
  }
}

.footer {
  border-top: 1px solid var(--white);

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    flex-wrap: wrap;
    gap: 2rem;
    height: 75px;
  }

  &-name {
    p {
      margin: 0;
      font-family: var(--font-title);
    }
  }

  &-socials {
    display: flex;
    gap: 1.5rem;

    a {
      color: var(--white);
      font-size: 1.3rem;
      transition: all 0.3s cubic-bezier(0.65, 0, 0.35, 1);

      &:hover {
        color: var(--brat);
        transform: translateY(-3px); // Movimiento técnico sutil
      }
    }
  }

  &-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 55px;

    p {
      font-size: 0.75rem;
      color: var(--grey);
    }
  }
}
@media (max-width: 600px) {
  .footer {
    .footer-top {
      align-items: center;
      justify-content: center;
      row-gap: 7px;
      height: 126px;
    }
    .footer-bottom {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 5px;
      height: 80px;
    }
  }
  .cta-section {
    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
    .cta-kicker {
      font-size: 1rem;
    }
  }
}
