.footer {
  font-size: 0.9rem;

  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    padding: 1rem 0;

    .footer-name {
      font-size: 0.9rem;
    }

    .footer-nav {
      display: flex;
      gap: 2rem;

      a {
        color: var(--white);
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footer-socials {
      display: flex;
      gap: 1rem;

      a {
        color: var(--white);
        font-size: 1.2rem;
        transition: color 0.3s;

        &:hover {
          color: var(--brat);
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.7rem;
  }
}
