.footer {
  font-size: 0.9rem;

  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    padding: 2rem 0;
    gap: 1.5rem;

    .footer-name {
      font-weight: bold;
    }

    .footer-nav {
      display: flex;
      gap: 2rem;

      a {
        color: var(--white);
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footer-socials {
      display: flex;
      gap: 1rem;

      a {
        color: var(--white);
        font-size: 1.2rem;
        transition: color 0.3s;

        &:hover {
          color: grey;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    font-size: 0.8rem;

    a {
      color: var(--white);
      margin-left: 1.5rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
