<section class="cta-section py-5 px-3" id="contact">
  <div class="container text-center">
    <p class="cta-kicker mb-2">Have a complex product?</p>
    <h2>Let’s work together</h2>
    <p class="mb-3">I'm currently open to new opportunities and collaborations.</p>
    <a href="mailto:rossg.design@gmail.com" class="button button-primary"> Get in touch </a>
  </div>
</section>

<footer class="footer">
  <div class="footer-top px-5">
    <div class="footer-name d-flex">
      <p>Rossella Guarino</p>
      <img src="/icon.svg" class="ms-1" alt="icon" height="19" width="19" />
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/#work">Work</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
    <div class="footer-socials">
      <a href="https://www.linkedin.com/in/rossella-guarino-design/" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/roxanneklizia/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://boxd.it/2hosh" target="_blank"><i class="fa-brands fa-letterboxd"></i></a>
      <a href="#"></a>
    </div>
  </div>
  <div class="footer-bottom px-5">
    <p>© 2026 — Coded by Rossella Guarino</p>
    <p>Based in Valencia, Spain</p>
  </div>
</footer>
