.footer {
  font-size: 0.9rem;
  font-family: var(--font-body);

  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    padding: 1rem 0;

    .footer-name {
      font-size: 0.8rem;
      p {
        font-size: 0.9rem;
        font-family: var(font-body);
      }
    }

    .nav-links {
      display: flex;
      gap: 2rem;

      a {
        color: var(--white);
        text-decoration: none;
        font-size: 0.9rem;
        font-family: var(font-body);

        &:hover {
          color: var(--brat);
        }
      }
    }

    .footer-socials {
      display: flex;
      gap: 1rem;

      a {
        color: var(--white);
        font-size: 1.2rem;
        transition: color 0.3s;
        opacity: 0.8;

        &:hover {
          color: var(--brat);
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.7rem;
    p {
      font-size: 0.7rem;
      font-family: var(font-body);
    }
  }
}
@media (max-width: 600px) {
  .footer {
    .footer-top {
      align-items: center;
      justify-content: center;
      row-gap: 7px;
    }
  }
}
