<nav class="navbar d-flex justify-content-between">
  <a href="/" class="d-flex justify-content-start align-items-center text-decoration-none">
    <img src="/icon.svg" class="me-2" alt="icon" height="33" width="33" />
    <div class="logo">Rossella Guarino</div>
  </a>

  <div class="menu-div">
    <input type="checkbox" id="menu-toggle" />

    <label for="menu-toggle" class="burger">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <ul class="nav-links">
      <li><a href="/#work" aria-label="See my work" rel="noopener">Work</a></li>
      <li><a href="/#about" aria-label="About Me" rel="noopener">About</a></li>
      <li><a href="/#contact" aria-label="Contact me" rel="noopener">Contact</a></li>
      <li><a href="/Rossella_Guarino_CV-en.pdf" download aria-label="Download my CV" target="_blank">CV</a></li>
    </ul>
  </div>
</nav>
<div class="line"></div>
