<section class="manifesto px-3 px-md-0">
  <div class="container d-flex flex-column align-items-center">
    <img src="/icon.svg" class="mb-2" alt="icon" height="33" width="33" />
    <h2>Product design is not about screens. It’s about decisions.</h2>
    <img src="/icon.svg" alt="icon" height="33" width="33" />
  </div>
</section>

<section class="approach py-5 px-4 px-md-0" id="about">
  <div class="container">
    <h2>How I work</h2>

    <div class="row mt-4">
      <div class="col-md-4 pe-0 pe-md-5">
        <h3><span class="step">01</span> Problem framing</h3>
        <p>I start by understanding users, business goals and constraints, aligning with stakeholders to define the real problem to solve.</p>
      </div>

      <div class="col-md-4 pe-0 pe-md-5 pt-3 pt-md-0">
        <h3><span class="step">02</span> Design & Collaboration</h3>
        <p>I explore solutions through flows, wireframes and prototypes, working closely with product managers and developers.</p>
      </div>

      <div class="col-md-4 pt-3 pt-md-0">
        <h3><span class="step">03</span> Validation & Iteration</h3>
        <p>I test assumptions, gather feedback and iterate based on user needs, technical constraints and product impact.</p>
      </div>
    </div>
  </div>
</section>
