<section class="hero align-items-center align-items-md-start">
  <div class="d-flex flex-column align-items-center align-items-md-start hero-content justify-content-center">
    <div class="fade-in delay-1 d-flex align-items-center align-items-md-start">
      <h1>
        Designing logic.
        <span>Building intuition.</span>
      </h1>
    </div>
    <div class="d-flex flex-row">
      <div class="d-flex flex-column text fade-in delay-4 mt-3 mb-5">
        <p>
          I am a Design Technologist specializing in modular UI systems and scalable architectures. <br />
          I bridge the gap between design vision and production through Advanced HTML/CSS, Figma Variables, and high-fidelity prototyping.
        </p>
      </div>
    </div>
    <div class="hero-cta fade-in delay-4">
      <a href="#work" class="button button-primary me-0 me-lg-3 mb-2">View my Work</a>
      <a href="#contact" class="button button-secondary me-0 me-lg-3 mb-2">Let’s build something</a>
    </div>
  </div>
</section>
