<section class="hero align-items-center align-items-md-start">
  <div class="d-flex flex-column align-items-center align-items-md-start hero-content justify-content-center">
    <div class="fade-in delay-1 d-flex align-items-center align-items-md-start">
      <h1>
        Product Designer specialized in <br />
        <span>B2B & enterprise digital products</span>
      </h1>
    </div>
    <div class="d-flex flex-row">
      <div class="d-flex flex-column text fade-in delay-4 my-3">
        <p>With a strong background in UX, design systems and frontend,</p>
        <p>I work closely with product and engineering teams to build scalable, user-centered solutions.</p>
      </div>
    </div>
    <div class="hero-cta fade-in delay-4">
      <a href="#work" class="button button-primary me-2">View case studies</a>
      <a href="#contact" class="button button-secondary">Contact me</a>
    </div>
  </div>
</section>
