<div class="d-flex flex-row">
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="65" width="65" />
    <img class="logo-img" src="/logos/avolta-logo.png" alt="avolta logo" />
  </div>
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="65" width="65" />
    <img class="logo-img" src="/logos/zurich-logo.png" alt="zurich logo" />
  </div>
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="65" width="65" />
    <img class="logo-img" src="/logos/dufry-logo.png" alt="dufry logo" />
  </div>
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="65" width="65" />
    <img class="logo-img" src="/logos/bm-logo.png" alt="bm logo" />
  </div>
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="65" width="65" />
    <img class="logo-img" src="/logos/amara-logo.png" alt="amara logo" />
  </div>
</div>
