.skills-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    border-radius: 20px;
    background-color: var(--skills);
    padding: 20px;
    margin: 20px;
    .skill{
        padding: 10px;
        border-radius: 10px;
        background-color: white;
    }
}