<div class="d-flex flex-row">
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="65" width="65" />
    <h3>UX/UI Design</h3>
  </div>
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="65" width="65" />
    <h3>Web & App Development</h3>
  </div>
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="65" width="65" />
    <h3>Website Redesigns</h3>
  </div>
</div>
