<div class="d-flex flex-row">
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="33" width="33" />
    <img class="logo-img" src="/logos/avolta-logo.webp" alt="avolta logo" />
  </div>
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="33" width="33" />
    <img class="logo-img" src="/logos/zurich-logo.webp" alt="zurich logo" />
  </div>
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="33" width="33" />
    <img class="logo-img logo-img-big" src="/logos/paramount-logo.webp" alt="paramount logo" />
  </div>
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="33" width="33" />
    <img class="logo-img" src="/logos/dufry-logo.webp" alt="dufry logo" />
  </div>
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="33" width="33" />
    <img class="logo-img logo-img-big" src="/logos/bm-logo.webp" alt="bm logo" />
  </div>
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="33" width="33" />
    <img class="logo-img logo-img-big" src="/logos/amara-logo.webp" alt="amara logo" />
  </div>
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="33" width="33" />
    <img class="logo-img logo-img-bigger" src="/logos/HSE-logo.webp" alt="amara logo" />
  </div>
  <div class="carousel-element d-flex flex-row align-items-center">
    <img src="icon.svg" alt="triangle with all three sides equal" height="33" width="33" />
    <img class="logo-img logo-img-bigger" src="/logos/dcci-logo.webp" alt="amara logo" />
  </div>
</div>
