@use "bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: "Manrope";
  src: url(/fonts/Manrope-VariableFont_wght.ttf);
  font-weight: 100 700;
}
@font-face {
  font-family: "Space Grotesk";
  src: url(/fonts/SpaceGrotesk-VariableFont_wght.ttf);
  font-weight: 100 700;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-VariableFont_wght.ttf);
  font-weight: 100 700;
}
@font-face {
  font-family: "Inter-Italic";
  src: url(/fonts/Inter-Italic-VariableFont_wght.ttf);
  font-weight: 100 700;
}
:root {
  --brat: #8ace00;
  --black: #0b0b0b;
  --white: #fff;
  --grey: #aaa;
  --light-grey: #ccc;
  --font-title: "Space Grotesk", sans-serif;
  --font-body: "Figtree", sans-serif;
}

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  line-height: 1.6;
  background-color: var(--black);
  color: var(--white);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
  font-family: var(--font-title);
  letter-spacing: -1px;
}
h3 {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
  font-family: var(--font-title);
}
p {
  font-size: 1.1rem;
  color: var(--light-grey);
  line-height: 1.4;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 999px;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    background-color: var(--brat);
    color: var(--black);
    border: 1px solid var(--brat);
  }
  &-primary {
    background: var(--white);
    color: var(--black);
    border: 1px solid var(--white);
  }
  &-secondary {
    border: 1px solid var(--white);
    color: var(--white);
  }
}

.line {
  height: 1px;
  background-color: var(--white);
  margin-bottom: 2rem;
  animation: expandWidth 1s ease forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

// Navbar
.navbar {
  width: 85vw;
  height: 77px;
  margin: 0 auto;
  z-index: 10;

  .logo {
    font-size: 1.5rem;
    color: var(--white);
    font-family: var(--font-title);
    letter-spacing: -1px;
    font-weight: 500;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;

    li {
      a {
        text-decoration: none;
        color: var(--white);
        font-weight: 500;
        transition: color 0.3s ease;
        font-weight: 400;
        transition: color 0.3s ease;
        letter-spacing: 0.5px;

        &:hover {
          color: grey;
        }
      }
    }
  }
}

// Variables

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Hero container
.hero-content {
  padding-left: 8vw;
}
.hero {
  min-height: calc(100vh - 77px - 91px - 4em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  h1,
  h2,
  p {
    margin: 0;
  }

  h1 {
    font-family: var(--font-title);
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: -0.05em;

    span {
      color: var(--brat);
    }
  }

  p {
    font-family: var(--font-body);
    opacity: 0.85;
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .title-bold {
    font-size: 600;
    align-self: center;
  }

  .fade-in {
    opacity: 0;
    animation: fadeUp 1s ease forwards;
  }

  .delay-1 {
    animation-delay: 0.2s;
  }
  .delay-2 {
    animation-delay: 0.6s;
  }
  .delay-3 {
    animation-delay: 1s;
  }
  .delay-4 {
    animation-delay: 1.2s;
  }
}

.scroll-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  span {
    display: block;
    width: 24px;
    height: 24px;
    border-bottom: 2px solid var(--white);
    border-right: 2px solid var(--white);
    transform: rotate(45deg);
    animation: scrollBlink 1.5s infinite;
  }
}
.logo-img {
  height: 27px;
  filter: grayscale(100%) brightness(1.7) contrast(0.3);
  opacity: 0.6;
  &-big {
    height: 35px;
    opacity: 0.9;
  }
}

@keyframes scrollBlink {
  0% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
  50% {
    transform: translateY(10px) rotate(45deg);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
}
//Case Studies
.projects {
  background: var(--black);
  color: var(--white);
}

.project-card {
  display: block;
  height: 100%;
  background: #0b0b0b;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid #282828;
  color: var(--white);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  }
}

.project-image {
  height: 180px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(135deg, #111, #1a1a1a);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
  }
}

.project-content {
  padding: 1.5rem;
  .meta {
    color: var(--brat);
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    font-weight: 600;
  }
}

//Approch Section
.approach {
  background: #0b0b0b;
  h3 {
    color: var(--brat);
  }
}

.step {
  color: var(--brat);
  font-size: 1rem;
  margin-right: 0.5rem;
  opacity: 0.6;
}
.manifesto {
  text-align: center;
  padding: 8rem 0;
  h2 {
    font-size: 2.5rem;
    font-weight: 300;
    opacity: 0.8;
  }
}

// About Us Section

.about-image {
  width: 63%;
  border-radius: 12px;
  filter: grayscale(100%);
}

@media (max-width: 600px) {
  h2 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.1rem;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes expandWidth {
  from {
    width: 0%;
    opacity: 0.5;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.cta-section {
  background-color: var(--black);
  color: var(--white);
  padding: 4rem 2rem;
  text-align: center;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);

  .cta-subtitle {
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .cta-title {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 2rem;
    font-family: "Space Grotesk";
    letter-spacing: 1px;
  }

  span {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 4rem;

    .hero-content {
      max-width: 100%;
      margin-bottom: 2rem;

      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .hero-animation {
      .wave {
        width: 200px;
        height: 200px;
      }
    }
  }
}

//Case studies component
.case-hero {
  background: var(--black);
  color: var(--white);
}

.case-meta {
  color: var(--brat);
  margin-bottom: 1rem;
}

.case-intro {
  font-size: 1.2rem;
}

.confidential {
  margin-top: 1.1rem;
  font-size: 0.9rem;
  opacity: 0.6;
}

.case-section {
  padding: 1rem 0;
  background: #0b0b0b;
  color: var(--white);
  p,
  li {
    opacity: 0.9;
    font-size: 1.1rem;
  }
}
