<section class="selected-work container-fluid" id="projects">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12">
        <h2 class="section-title">Selected work</h2>
      </div>
    </div>

    <!-- Boardmatch -->
    <div class="d-flex column-gap-2 flex-column flex-md-row row-gap-2 row-gap-md-0">
      <div class="col-md-4">
        <a href="/case-studies/boardmatch" class="project-card">
          <div class="project-image">
            <img src="/case-studies/boardmatch.png" alt="Boardmatch platform screenshot" />
          </div>
          <div class="project-content">
            <h3>Boardmatch</h3>
            <p class="meta">Salesforce · Experience Cloud</p>
            <p>B2B education platform for professional courses, from discovery to high-fidelity design.</p>
          </div>
        </a>
      </div>

      <!-- Avolta -->
      <div class="col-md-4">
        <a href="/case-studies/avolta" class="project-card no-image">
          <div class="project-image">
            <div class="project-image">
              <img src="/case-studies/avolta.png" alt="Boardmatch platform screenshot" />
            </div>
          </div>
          <div class="project-content">
            <h3>Avolta</h3>
            <p class="meta">SharePoint · Enterprise</p>
            <p>Design of internal tools for corporate teams, focused on usability, scalability and adoption.</p>
          </div>
        </a>
      </div>

      <!-- Bladderboss -->
      <div class="col-md-4">
        <a href="/case-studies/avolta" class="project-card">
          <div class="project-image">
            <img src="/case-studies/bladderboss.png" alt="Bladderboss wireframes" />
          </div>
          <div class="project-content">
            <h3>Bladderboss</h3>
            <p class="meta">Mobile app · Healthcare</p>
            <p>UX design for a patient-focused mobile app, including research, user flows and wireframes.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
