<section class="project-grid">
  <div class="project-grid-1">
    <a href="#" class="grid-item grid-item--large">
      <img src="linkedin-banner.png" alt="Project 1" />
    </a>
    <a href="#" class="grid-item grid-item--large">
      <img src="linkedin-banner.png" alt="Project 2" />
    </a>
  </div>
  <div class="project-grid-2">
    <a href="#" class="grid-item grid-item--small">
      <img src="linkedin-banner.png" alt="Project 3" />
    </a>
    <a href="#" class="grid-item grid-item--small">
      <img src="linkedin-banner.png" alt="Project 4" />
    </a>
    <a href="#" class="grid-item grid-item--highlight">
      <div></div>
    </a>
  </div>
</section>

<!--<div id="case-studies" name="Case Studies">
  @for(case of caseStudies;track $index){
  <div class="case-study" [style.backgroundColor]="case.color">
    <div class="case-info">
      <h2>{{ case.title }}</h2>
      @for(text of case.texts;track $index){
      <p>{{ text }}</p>
      }
      <app-magic-link-button [href]="'case-studies' + case.folder">View Case Study</app-magic-link-button>
    </div>
    <div class="case-preview">
      <img [src]="case.folder + '/preview.png'" style="width: 100px; height: 100px" />
    </div>
  </div>
  }
</div>-->
